FuzzyRules/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FuzzyRules/bin/Debug/*
FuzzyRules/bin/Debug/*
FuzzyRules/obj/Debug/*
FuzzyRules/obj/Debug/
FuzzyRules/obj/Debug/FuzzyRules.csproj.FileListAbsolute.txt
FuzzyRules/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
